/* ===============================================
RESETS
=============================================== */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oswald:wght@400;700&display=swap');

html {
  font-size: 10px;
}

*,
body {
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
}