/* ===============================================
RESETS
=============================================== */
/* Type */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald:wght@400;700&display=swap');

html {
  font-size: 10px;
  color: var(--black);
}

*,
body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
}

a:link,
a:visited,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

input,
select {
  font-size: 2rem !important;
  color: var(--gray) !important;
}

/* Colours */
:root {
  --primary: #00769F;
  --primary-accent: #00124d;
  --gray-dark: #171819;
  --gray: #5f646a;
  --gray-light: #d0d3d5;
  --black: #0D0D0D;
  --white: #F2F2F2;

  --background-transparent: rgba(242, 242, 242, 0.8);
  --gray-transparent: rgba(95, 100, 106, 0.9);
  --box-shadow: rgba(0, 0, 0, 0.5);
}

/* ===============================================
STYLES
=============================================== */
.background {
  min-height: 100vh;
  padding: 0;
  background: url(../img/bubbles-230014_1920.jpg) center;
  background-size: cover;
}

/* Top Bar */
.header {
  background-color: var(--background-transparent);
  min-height: 8rem;
}

/* Hero */
.hero>div {
  padding: 0;
}

.hero__image {
  opacity: 0.95;
}

.hero__image-wrapper {
  position: relative;
}

.hero__title {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 50%;
  color: var(--white);
}

@media screen and (min-width: 1200px) {
  .hero__title-text {
    font-size: 8rem;
  }

  .hero__date-text {
    font-size: 4rem;
  }

}

.hero__details {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 50%;
  color: var(--white);
}

/* Schedule */
.schedule {
  border-top: solid 1px var(--gray);
  padding-top: 8rem !important;
  background-color: var(--background-transparent);
}

.schedule__title {
  color: var(--gray);
}

.schedule__button,
.accordion-button:not(.collapsed) {
  background-color: var(--primary);
  color: var(--white);
}

.schedule__button {
  font-family: 'Oswald', sans-serif;
}

.accordion-header {
  outline: none;
}

.schedule__time {
  align-self: flex-end;
}

.schedule__button::after {
  display: none;
}

.accordion-body {
  background-color: var(--background-transparent);
}

/* Register */
.register {
  background-color: var(--background-transparent);
  padding-bottom: 8rem !important;
}

.register__title {
  color: var(--gray);
}

.register__form {
  margin: 1rem 0;
}

.form-label {
  font-size: 1.2rem;
  color: var(--gray);
}

.register__button {
  width: 100%;
  background-color: var(--primary);
  border: solid 1px var(--primary) !important;
  font-size: 2.5rem;
  transition: 0.2s;
}

.register__button:hover {
  background-color: var(--primary);
  transform: translateY(-2px);
  box-shadow: 8px 10px 10px 1px var(--box-shadow);
}


/* Footer */
.footer {
  background-color: var(--gray-dark);
  color: var(--white);
  font-size: 1.4rem;
}

.footer__icon {
  display: inline-block;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.2s;
}

.bi:hover {
  transform: translateY(-2px);
}